////
/// EVENTS component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}events
/// @since version 1.0.0
////

.#{$ns}events{
    width: 22.5%;

    &__hours{
            width: rem(45);
            height: rem(45);
            border-radius: 50%;
            background: color(box-blue);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding:3%;
           
      h2{
        color: white;
        font-size: rem(15);
        }
      
    }
    &__contenido{
        margin: rem(0) rem(28);
      
    }
    &__position{
        display: flex;
    }
    &__position-margin-one{
        height: rem(87);
    }
    &__position-margin-two{
       
        height: rem(42);
    }
    &__position-margin-three{
        margin: rem(0) rem(0);
    }
    &__title-day{
        color: color(box-blue);
        font-weight: 600;
        margin: rem(18) rem(0);
    }
    &__link{
        margin: rem(10) rem(9);
       a{
           text-decoration: underline ;
           color: color(event-blue);
           font-weight: 600;
           font-size: rem(20px);
           letter-spacing: rem(1);
       } 
       p{
        color: color(event-grey);
        font-size: rem(10px);
       }
    }
   
}
@include media-query (xl) {
    .#{$ns}events{
       width: 30%;
     
    }
 }
 @include media-query (lg) {
    .#{$ns}events {
  
        
    }
 }
 @include media-query (md) {
    .#{$ns}events{
        width: 46%;
        order:1;
        &__hours{
            width: rem(45);
            height: rem(45);
            border-radius: 50%;
            background: color(box-blue);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding:3%;
           
      h2{
        color: white;
        font-size: rem(15);
        }
      
    }
    &__contenido{
        margin: rem(0) rem(28);
      
    }
    &__position{
        display: flex;
    }
    &__position-margin-one{
        height: rem(87);
    }
    &__position-margin-two{
       
        height: rem(42);
    }
    &__position-margin-three{
        margin: rem(0) rem(0);
    }
    &__title-day{
        color: color(box-blue);
        font-weight: 600;
        margin: rem(20) rem(0);
    }
    &__link{
        margin: rem(10) rem(9);
       a{
           text-decoration: underline ;
           color: color(event-blue);
           font-weight: 600;
           font-size: rem(20px);
           letter-spacing: rem(1);
       } 
       p{
        color: color(event-grey);
        font-size: rem(10px);
       }
    }
   }
}
@include media-query (sm) {
    .#{$ns}events{
        width: 90%;
        order:1;

    }
}