////
/// PROYECTS component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}proyects
/// @since version 1.0.0
////

.#{$ns}proyects {
    width: 45%;

    &__box-header{
        background-color: color(proyect-blue);
        color: color(box-blue);
        display: flex;
        padding: 12px 10px;
        padding: 0.92857rem 0.78571rem;
    }
    &__line::before{
        content: "";
        position: absolute;
        border: 1px solid #e3e3e3;
        left: rem(17);
        right: rem(17);
        z-index: 1;
        margin: rem(-10) rem(0);

    }
    &__links{
        text-decoration: underline;
        color: #4479af;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
        margin: rem(9) rem(0);
    }
    &__margin{
        margin: rem(19);
    }
    &__button-position{
        display: flex;
        margin:rem(17) rem(0);
    }
    &__button-intranet{
        width: rem(50);
        height: rem(21);
        border-radius: 41%;
        background: color(warning-light);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2%;
        font-size: rem(11);
        margin: rem(0) rem(5);
    }
    &__button-busc{
        width: rem(138);
        height: rem(21);
        border-radius: 21%;
        background: color(warning-light);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2%;
        font-size: rem(11);
        margin: rem(0) rem(5);
    }
    &__button-num{
        width: rem(22);
        height: rem(10);
        border-radius: 35%;
        border: rem(2) solid color(warning-light);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2%;
        font-size: rem(11);
    }
    &__list{
        margin: rem(3) rem(28);
    }
    &__line-header ::before{
        content: "";
        position: absolute;
        border: 1px solid blue;
        left: rem(17);
        right: rem(17);
        z-index: 1;
        margin: rem(10) rem(0);
    }
    &__order{
        display: flex;
    }
    &__margin-li{
        margin: rem(5) rem(0);
    }
    
    
}
@include media-query (xl) {
    .#{$ns}proyects {
        width: 30%;
        &__box-header{
            background-color: color(proyect-blue);
            color: color(box-blue);
            display: flex;
            padding: rem(10) rem(0);
        }
        &__order{
            display: flex;
        }
        &__list{
            margin: rem(3) rem(15);
        }
        
    }
 }
 @include media-query (lg) {
    .#{$ns}proyects{
        &__box-header{
            background-color: color(proyect-blue);
            color: color(box-blue);
            display: flex;
            padding: rem(10) rem(0);
        }
        &__list{
            margin: rem(3) rem(7);
            font-size: rem(13);
        }
        
    }
 }
 @include media-query (md) {
    .#{$ns}proyects {
        width: 44%;
        order:5;

        &__list{
            margin: rem(3) rem(13);
            font-size: rem(13);
        }

    }
}
@include media-query (sm) {
    .#{$ns}proyects {
        width: 90%;
        order:4;
        &__list{
            margin: rem(5) rem(11);
            font-size: rem(15);
        }
        &__margin{
            margin: rem(20) rem(19);
        }
        &__button-position{
            display: flex;
            margin:rem(17) rem(0);
        }
        &__button-intranet{
            width: rem(50);
            height: rem(21);
            border-radius: 41%;
            background: color(warning-light);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2%;
            font-size: rem(11);
            margin: rem(0) rem(5);
        }
        &__button-busc{
            width: rem(138);
            height: rem(21);
            border-radius: 21%;
            background: color(warning-light);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2%;
            font-size: rem(11);
            margin: rem(0) rem(5);
        }
        &__button-num{
            width: rem(22);
            height: rem(10);
            border-radius: 35%;
            border: rem(2) solid color(warning-light);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2%;
            font-size: rem(11);
        }
        &__links{
            text-decoration: underline;
            color: #4479af;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 1px;
            margin: rem(9) rem(0);
        }
        &__margin-li{
            margin: rem(5) rem(0);
        }
        &__skm{
            margin: rem(25) rem(0);
        }
        &s__skm-2{
            margin: rem(25) rem(0);
        }
    }
}