////
/// NOTIFICATIONS component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}notifications
/// @since version 1.0.0
////

.#{$ns}notifications {
    width: 22.5%;

    &__exclamacion{
        color: color(warning-darker);
        width: rem(17);
    }
    &__flex{
        display: flex;

      
    }
    &__line::before{
        content: "";
        position: absolute;
        border: 1px solid #e3e3e3;
        left: rem(17);
        right: rem(17);
        z-index: 1;
        margin: rem(-8) rem(15);
    }
    &__noti-letter{
        font-weight: 600;
        font-size: rem(16);
    }
    &__check::before{
        content: "";
        background: transparent;
        border: rem(4) solid color(noti-green);
        display: inline-block;
        height: rem(21);
        width: rem(21);
        //margin-right: rem(20);
        left: rem(0);
    }
    &__check::after{
        content: '✓';
        font-size: rem(16);
        color: color(noti-green);
        position: absolute;
        top:0;
        display: none;
        margin-left: rem(4);
    }
    &__margin{
        margin: rem(14);
    }
    &__tick{
        position:relative;
        display: inline-block;
    }
    
    &__tick-inp:checked + &__tick::after{
        display: block;
    }
    &__position-check{
        display: flex;
        justify-content: space-between;
        
    }

    //input:checked + label:after { display: block; }
}
@include media-query (xl) {
    .#{$ns}notifications {
        width: 30%;
        
    }
 }
 @include media-query (lg) {
    .#{$ns}notifications {
  
        
    }
 }
 @include media-query (md) {
    .#{$ns}notifications {
        width: 46%;
        order:2;

    }
}
@include media-query (sm) {
    .#{$ns}notifications {
        width: 90%;
        order:2;
        
    }
}