////
/// CONTACTS component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}contacts
/// @since version 1.0.0
////

.#{$ns}contacts {
    width: 22.5%;

    &__figure-contact{
        display: flex;
    }
    &__box-header{
        background-color: color(proyect-blue);
        color: color(box-blue);
        display: flex;
        padding: 12px 10px;
        padding: 0.92857rem 0.78571rem;
    }
    &__line::before{
        content: "";
        position: absolute;
        border: 1px solid #e3e3e3;
        left: rem(17);
        right: rem(17);
        z-index: 1;
    }
    &__arrow{
        color: color(box-blue);
    }
    &__links{
        text-decoration: underline;
        color: #4479af;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
    }
    &__size-figure{
        width: rem(43);
    }
    &__margin{
        margin: rem(7);
    }
    &__scroll{
        overflow-y: scroll;
    }
    &__order{
        display: flex;
    }
    &__list{
        margin: rem(0) rem(8);
    }
    &__despleg{
        width: 100%;
    }

    }
@include media-query (xl) {
    .#{$ns}contacts {
        width: 30%;

        &__margin{
            margin: rem(10);
        }
        &__size-figure{
            width: rem(52);
        }
        &__line::before{
            content: "";
            position: absolute;
            border: 1px solid #e3e3e3;
            left: rem(17);
            right: rem(17);
            z-index: 1;
        }
        &__despleg{
            width: 100%;
            margin:rem(10)rem(0);
        }
    }
 }
 @include media-query (lg) {
    .#{$ns}contacts {
        
        &__list{
            margin: rem(0) rem(8);
            font-size: rem(12);
        }
        
    }
 }
 @include media-query (md) {
    .#{$ns}contacts {
        width: 46%;
        order:3;
        margin-top: rem(196);

        &__margin{
            margin: rem(15) rem(20);
        }
        &__sofia{
            display: none;
        }
        &__list{
            margin: rem(0) rem(15);
            font-size: rem(12);
        }
        
    }
}
@include media-query (sm) {
    .#{$ns}contacts {
        width: 90%;
        order:5;
        margin-top:rem(0);
    }
}