////
/// HEADER component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}header
/// @since version 1.0.0
////
.#{$ns}header {
    display: block;
    width: 100%;
    padding: rem(6) rem(30);
    background: linear-gradient(to left, color(header-green), color(header-blue-dark), color(header-blue));
    &__nav{
        display:flex;
    }
    &__link {
        display: inline-block;
        vertical-align: middle;
    }
    &__figure {
        width: rem(45);
        height: rem(45);
        display: inline-block;
        vertical-align: middle;
    }
    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__txt {
        display: inline-block;
        vertical-align: middle;
        color: color(white);
        font-size: rem(16);
        font-weight: 100;
    }
    &__icon-lupa{
        color: color(header-grey-dark );
    }
    &__nav-lg{
        display: flex;
    }
    &__nav-xs{
        display: none;

    }
    &__nav-sm{
        display: flex;
        width: 100%;
    }
    
    &__boton-S{
        display:none;
    }
    &__profile{
        display: flex;
        margin:rem(15) rem(47);
    }
    &__profile-campagna{
        width: rem(32);
        margin: rem(3);
    }
    &__profile-logo{
        width: rem(40);
    }
    &__arrow{
        color: color(white);
    }

    &__icon-boton{
        color: color(white);
        width: rem(50);
        height: rem(27);
    }
    &__icon-eK{
        width: rem(50);
    }
    &__campana{
        width: rem(30);
    }
    &__menu{
        li{
        display: flex;
        }
        a{
            padding: rem(13) rem(15);
        }
    }
    &__form{
        margin: rem(15);
        width: 100%;
    }
    &__form-position{
        position: relative;
    }
    &__boton-lupa{
        position: absolute;
        right: rem(14);
        margin: rem(9);
    }
    &__letter{
        color: color(white);
        font-size: rem(17);
    }
    &__search-header{
        display:flex;
        width: 100%;
    }
    &__logo-ever{
        width: rem(35);
        margin-top: rem(-17);
    }

    &__everisKnowler{
        margin: rem(19);
    }
    &__search{
        width: 100%;
        height: rem(35);
        border-radius: rem(3);
        outline: none;
        border: 0;
       }
    &__nav-lg li{
     p{
        color: color(white);
     }
     a{
        text-align: center;
     }
     i{
        font-size: 21px;
        color: color(white);
        text-align: center;
     }
    } 
}
@include media-query (xl) {
    .#{$ns}header {
  
        &__nav-lg{
            display: flex;
            margin:rem(0) rem(25);
        }
        &__profile{
            display: flex;
            margin:rem(15) rem(5);
        }
        &__profile-campagna{
            width: rem(32);
            margin: rem(3);
        }
        &__profile-logo{
            width: rem(40);
        }
        &__form{
            margin: rem(15) rem(5);
            width: 100%;
        }
        &__boton-lupa{
            position: absolute;
            right: rem(5);
            margin: rem(10);
        }
        &__logo-ever{
            width: rem(35);
            margin-top: rem(-15);
        }
        &__everisKnowler{
            margin: rem(19) rem(5);
        }
 }
}
 @include media-query (lg) {
    .#{$ns}header {
        &__nav-xs{
            display: none;
        }
        &__nav-sm{
            display:flex;
        }
        &__nav-lg{
            display: none;
        }
        &__letter{
            color: color(white);
            font-size: rem(17);
        }
       &__search{
        width: 100%;
        height: 47px;
        border: radius;
        border-radius: 3px;
        outline: none;
        border: 0;
       } 
       &__boton-lupa{
        position: absolute;
        right: rem(20);
        margin: rem(15);
        }
        &__everisKnowler{
        margin: rem(30) rem(10);
        }
        &__boton-S{
            display: flex;
        }
        &__icon-boton{
            color: color(white);
            width: rem(16);
            height: rem(0);
            
        }
    }  
}
 
 @include media-query (md) {
    .#{$ns}header {
        &__nav-xs{
            display: none;
        }
        &__nav-sm{
            display:flex;
        }
        &__nav-lg{
            display: none;
        }
        &__letter{
            color: color(white);
            font-size: rem(17);
        }
        &__search{
            width: 100%;
            height: 47px;
            border: radius;
            border-radius: 3px;
            outline: none;
            border: 0;
           } 
           &__boton-lupa{
            position: absolute;
            right: rem(10);
            margin: rem(15);
            }
            &__everisKnowler{
            margin: rem(30) rem(10);
            }
            &__boton-S{
                display: flex;
            }
            &__icon-boton{
                color: color(white);
                width: rem(16);
                height: rem(0);
                
            }
    }
}
@include media-query (sm) {
    .#{$ns}header {
        display: block;
        width: 100%;
        padding: rem(3) rem(0);
        background: linear-gradient(to left, color(header-green), color(header-blue-dark), color(header-blue));
        &__nav{
            display:flex;
            width: 100%;
            justify-content: space-between;
        }
        &__link {
            display: inline-block;
            vertical-align: middle;
        }
        &__figure {
            width: rem(45);
            height: rem(45);
            display: inline-block;
            vertical-align: middle;
        }
        &__image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &__txt {
            display: inline-block;
            vertical-align: middle;
            color: color(white);
            font-size: rem(16);
            font-weight: 100;
        }
        &__profile{
            margin-left: rem(15);
            display: flex;
        }
        &__icon-lupa{
            color: color(white);
            position: relative;
            width: 100%;
        }
        &__nav-xs{
            display: flex;
            width: 100%;
        }
        &__nav-sm{
            display: none;
        }
        &__nav-lg{
            display:none;
        }
        &__icon-boton{
            color: color(white);
            height: rem(27);
            margin: rem(17)rem(13);
        }
        &__icon-eK{
            width: rem(50);
            margin:rem(10)rem(0);
        }
        &__campana{
            width: rem(30);
        }
        &__logo-cara{
            width: rem(30);
        }
        &__position-lupa{
            margin-left: auto;
        }
    }
 }
