////
/// MAILS component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}mails
/// @since version 1.0.0
////

.#{$ns}mails {
    width: 45%;

    &__picture{
        display:flex;
        margin: rem(7) rem(0);
    }
    &__line::before{
        content: "";
        position: absolute;
        border: 1px solid #e3e3e3;
        left: rem(17);
        right: rem(17);
        z-index: 1;
        margin: rem(-10) rem(0);
    }
    &__links{
        text-decoration: underline;
        color: #4479af;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
    }
    &__text{
        color: color(event-grey);
    }
    &__dates{
        color: color(mails-grey);
        margin: rem(7) rem(0);
    }
    &__figure-mails{
        width: rem(21);
       
    }
    &__margin{
        margin: rem(17);
    }
}
@include media-query (xl) {
    .#{$ns}mails {
        width: 30%;

        &__line::before{
            content: "";
            position: absolute;
            border: 1px solid #e3e3e3;
            left: rem(17);
            right: rem(17);
            z-index: 1;
            margin: rem(-5) rem(0);
        }
        &__links{
            text-decoration: underline;
            color: #4479af;
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 1px;
        }
      
        &__margin{
            margin: rem(5) rem(17);
        }
    }
 }
 @include media-query (lg) {
    .#{$ns}mails {
  
        
    }
 }
 @include media-query (md) {
    .#{$ns}mails {
        width: 44%;
        order:4;
        &__links{
            text-decoration: underline;
            color: #4479af;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 1px;
        }
        &__tamano{
            font-size: 11px;
        }
    }
}
@include media-query (sm) {
    .#{$ns}mails {
        width: 90%;
        order:3;

    }
}
