////
/// BOX component
///
/// Description of the component
///
/// @access public
/// @author Dfront Specialist Team
/// @group components of repository
/// @name .#{$wf__ns}box
/// @since version 1.0.0
////
.#{$ns}box {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    height: rem(1425);
    padding-top: 4%;
    row-gap: 2.2%;
    background: blue;

    &__sec{
    position: relative;
    background-color: color(white);
    border: rem(1) solid color(box-grey);
    box-shadow: rem(1) rem(1) rem(1) rem(1);
    margin: rem(0) rem(15);
    border-radius: rem(5);
}

    &__box-title{
        font-size: rem(14);
        width: rem(518);
    }
    &__box-header{
        background-color: color(box-blue);
        color: color(white);
        display:flex;
        padding: rem(18) rem(11);   
    }
    &__box-menu{
        color: color(white);
        margin-right: rem(10);
        
    }

    &__header {
        padding: rem(65) 0 rem(15) 0;
    }
    &__title {
        font-family: $ns-font-roboto-light;
        font-size: rem(48);
        font-weight: 300;
        line-height: rem(48 + 4);
        color: color(black);
    }
    &__container-btn {
        button {
            margin-right: rem(4);
        }
    }
    &__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__fa-xs{
        font-size: 14px;
        width: 49px;
        padding: rem(0) rem(19);
    }
    &__box-footer{
        margin: rem(10);
    }
    &__box-footer::before{
        content: "";
        position: absolute;
        border: 1px solid color(box-grey);
        left: rem(0);
        right: rem(0);
        z-index: 1;
    }
    &__box-select{
        border:rem(0);
        color:color(box-blue);
        font-size: rem(13);
        font-weight: 600;
        
    }
    &__box-footerform{
        text-align: center;
        padding: rem(8);
        
    }
    &__first-column{
       
    }
    &__second-column{
       
    }
    &__third-column{
 
    }
    &__flex{
   
    }
}
@include media-query (xl) {
    .#{$ns}box {
        background: red;

        
    }
 }
 @include media-query (lg) {
    .#{$ns}box {
        background: green;
    
        
    }
 }
 @include media-query (md) {
    .#{$ns}box {
        background: yellow;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        height: rem(1743);
        padding-top: 4%;
        row-gap: 1%;
        }
        &__box-footer{
            margin: rem(10);
        }
        &__box-footerform{
            text-align: center;
            padding: rem(8);
            
        }
    }
@include media-query (sm) {
        .#{$ns}box {
            background:rgb(33, 170, 194);
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: space-around;
            height: rem(2600);
            padding-top: 4%;
            row-gap: 1%;
        
            &__box-title{
                font-size: rem(15);
                width: rem(518);
            }
            &__box-header{
                background-color: color(box-blue);
                color: color(white);
                display:flex;
                padding: rem(17) rem(10);
                
            }
            &__box-menu{
                color: color(white);
                margin-right: rem(10);
                
            }
        
            &__header {
                padding: rem(65) rem(15);
            }
            &__title {
                font-family: $ns-font-roboto-light;
                font-size: rem(48);
                font-weight: 300;
                line-height: rem(48 + 4);
                color: color(black);
            }
            &__container-btn {
                button {
                    margin-right: rem(4);
                }
            }
            &__section {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            &__fa-xs{
                font-size: 16px;
                width: 40px;
                padding: 0 10px;
            }
            &__box-footer{
                margin: rem(10);
            }
            &__box-footer::before{
                content: "";
                position: absolute;
                border: 1px solid color(box-grey);
                left: rem(0);
                right: rem(0);
                z-index: 1;
            }
            &__box-select{
                border:rem(0);
                color:color(box-blue);
                font-size: rem(13);
                
            }
            &__box-footerform{
                text-align: center;
                padding: rem(8);
                
            }
            
        }
    }